<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733469924094-co7b735ubhjne68kqjilh2uav5730uj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733469924094-co7b735ubhjne68kqjilh2uav5730uj8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>733469924094-p6li5tq8sfvkjaglhvpad2ivkdpu7fnq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7kYTNf_zM4HPncHmAP4ZHNdUuRzeCVEI</string>
	<key>GCM_SENDER_ID</key>
	<string>733469924094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.test03</string>
	<key>PROJECT_ID</key>
	<string>fir-test03-7a6b2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test03-7a6b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733469924094:ios:f9c877fc4d5045f69023af</string>
</dict>
</plist>